<section class="about-me">
  <div class="about-me__container">
    <div class="about-me__image">
      <img src="{{ site.author_image }}" alt="{{ site.title }} Profile Picture">
    </div>
    <div class="about-me__content">
      <h2 class="section-title">About {{ site.title }}</h2>
      <p class="section-subtitle">{{ site.subtitle }}</p>
      <p class="about-me__description">{{ site.description }}</p>
    </div>
  </div>
</section>