<section class="hero sky-background">
  <div class="hero__content">
    <div class="container">
      <h1 class="hero__title">{{ site.hero_title }}</h1>
      <p class="hero__subtitle">
        Hello, I’m <strong>{{ site.title }}</strong> — {{ site.subtitle_full }}.
      </p>
      <div class="hero__actions">
      </div>
    </div>
  </div>
</section>