{% extends "layouts/base.njk" %}

{% block content %}
  <article class="page-article">
    {% if title %}
      <header class="page-header">
        <div class="container">
          <h1 class="page-title">{{ title }}</h1>
          {% if description %}
            <p class="page-description">{{ description }}</p>
          {% endif %}
        </div>
      </header>
    {% endif %}

    <div class="page-content">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}