---
layout: layouts/base.njk
---

<article class="service-page">
  <div class="container">
    <h1 class="service-page__title">{{ title }}</h1>
    <div class="service-page__content">
      {{ content | safe }}
    </div>
  </div>
</article>
