@keyframes move-clouds {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.sky-background {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #87CEEB 0%, #f0f9ff 100%);

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 100px;
    opacity: 0.8;
  }

  &:before {
    top: 10%;
    left: -100px;
    animation: move-clouds 15s linear infinite;
  }

  &:after {
    top: 20%;
    right: -150px;
    animation: move-clouds 20s linear infinite reverse;
  }
}
