---
layout: layouts/home.njk
title: Home
description: Bridging heritage hospitality with modern technology.
permalink: /index.html
---
{% include "components/hero.njk" %}
{% include "components/featured-content.njk" %}
{% include "components/about-me.njk" %}
{% include "components/skills.njk" %}
